@model IEnumerable<MyAdmin.Models.ApplicationViewModel>
@using AdminPanelLte.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    @*<div class="content">*@



    <div class="container-fluid">
        @{
            if (Session["Student"] != null && Session["Student"].ToString() != null)
            {
               <p>Dashboard</p>
            }
            else
            {

        <div class="row">
            <div class="col-md-3">

                @Html.DropDownList("subject", new SelectList(ViewBag.subjectlist, "Subject_ID", "SubjectName"), new { @class = "form-control dropdown" })
            </div>
            <div class="col-md-3">
                <select id="criteria" class="form-control dropdown">
                    <option value="0" class="dropdown-item">
                        Please Select Criteria
                    </option>
                    <option value="1" class="dropdown-item">
                        Greater Than
                    </option>
                    <option value="2" class="dropdown-item">
                        Less Than
                    </option>
                    <option value="3" class="dropdown-item">
                        Equal To
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="text" id="marks" class="form-control" placeholder="Marks" />
            </div>
            <div class="col-md-3">
                <input type="button" id="filter" onclick="FilterTable()" class="btn btn-primary" value="filter" />
            </div>
        </div>

        <table id="stdnttbl" class="table table-bordered">
            <thead>
            <th>
                Student Name
            </th>
            <th>
                Father Name
            </th>
            <th>
                Mobile No
            </th>
            <th>
                Email ID
            </th>
            <th>
                % At HS
            </th>
            <th>
                DHA ID
            </th>

            <th>
                First Choice
            </th>
            <th>
                Second Choice
            </th>
            <th>
                Communicative Subject
            </th>
            <th>
                HS Subject Marks
            </th>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.student.FirstName) @Html.DisplayFor(modelItem => item.student.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.student.FatherName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.student.MobileNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.student.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.student.percentageAtHS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.student.DHA_Id)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.SubjectList.SubjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.secondsubject)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CommunSubjectList.SubjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HS_SubjectMarks)
                        </td>
                        <td>
                            @{

                                if (item.Status == (int)DDLLIST.Status.pending)
                                {
                                    <p><span class='badge badge-warning'>Pending</span></p>
                                }
                                if (item.Status == (int)DDLLIST.Status.accepted)
                                {
                                    <p><span class='badge badge-success'>Accepted</span></p>
                                }
                                if (item.Status == (int)DDLLIST.Status.rejected)
                                {
                                    <p> <span class='badge badge-danger'>Rejected</span></p>
                                }
                            }

                        </td>



                        <td>

                            @{

                                if (Session["Student"] != null && Session["Student"].ToString() != null)
                                {

                                }
                                else
                                {

                                    <input onclick="ChangeApplicationStatus(@item.ApplicationId,@Convert.ToInt16(DDLLIST.Status.accepted))" type="button" class="btn btn-success" value="Accept" />
                                    <input onclick="ChangeApplicationStatus(@item.ApplicationId,@Convert.ToInt16(DDLLIST.Status.rejected))" type="button" class="btn btn-danger" value="Reject" />


                                }

                            }
                        </td>


                    </tr>
                                }
            </tbody>

        </table>}
                                }
    </div>

    @*</div>*@
</section>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/script/sweetalert.min.js"></script>
<script>
    $(document).ready(function() {
        $('#stdnttbl').DataTable();
    });

    function ChangeApplicationStatus(appid, status) {
        swal({
            title: "Are you sure ??",
            text: "",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
         .then((willDelete) => {
             if (willDelete) {
                 //$.post("/home/deleteSubCom",data:{})

                 $.post("/Application/ChangeApplicationStatus", { appid: appid, status: status }, function (data) {

                     if (data.flag) {
                         swal({
                             title: "Successfully!",
                             text: "Data Saved!",
                             type: "success"
                         }).then(function () {

                             window.location = this.location.href;
                         });

                     } else {
                         swal("Error! Failed", {
                             icon: "danger",
                         });
                     }

                 });
                 //swal("Poof! Your imaginary file has been deleted!", {
                 //    icon: "success",
                 //});
                 //window.location.href = href;
             } else {
                 //swal("Your imaginary file is safe!");
             }
         });

    }

    function FilterTable() {
        var subjectid = $('#subject option:selected').val();
        var criteria = $('#criteria option:selected').val();
        var marks = $('#marks').val();

        $.ajax({
            type: 'POST',
            url: '/Application/FilterApplication1',
            data: { Subject: subjectid, criteria: criteria, Marks: marks },
            success: function (data) {
                console.log(data);
                bindDataTable(data);
            },
            err:function (re){

            }


        })
    }

    function bindDataTable(data) {
        $('#stdnttbl tbody').empty();
        $('#stdnttbl').DataTable().clear().destroy();
        var table = $('#stdnttbl').DataTable({
            data: data.data,
            columns: [
                { data: 'student.FirstName' },
                { data: 'student.FatherName' },
                { data: 'student.MobileNo' },
                { data: 'student.email' },//or { data: 'MONTH', title: 'Month' }`
                { data: 'student.percentageAtHS' },
                { data: 'student.DHA_Id' },
                { data: 'SubjectList.SubjectName' },
                { data: 'secondsubject' },
                { data: 'CommunSubjectList.SubjectName' },
                { data: 'HS_SubjectMarks' },
                 {
                     "data": "Status",
                     "render": function (Status, type, full, meta) {


                         //if (Status ==  )
                         //{
                         return '<p><span class="badge badge-warning">Pending</span></p>'
                         //}

                         // return '<a href="#" class="btn btn-info" onclick="ShowEmployee(' + ID + ')"><i class="fa fa-eye"></i></a> <a href="#" class="btn btn-danger" onclick="ConfirmDelete(' + ID + ')"><i class="fa fa-trash"></i></a>'
                     }

                 },
                 {
                     "data": "ApplicationId",
                     "render": function (ID, type, full, meta) {
                         return '<a href="#" class="btn btn-info" onclick="ChangeApplicationStatus(' + ID + ',' +@Convert.ToInt16(DDLLIST.Status.accepted) + ')">Accept</a> <a href="#" class="btn btn-danger" onclick="ChangeApplicationStatus(' + ID + ',' +@Convert.ToInt16(DDLLIST.Status.rejected) +')">Reject</a>'

                         //return '<input onclick="ChangeApplicationStatus('+ID+','+@Convert.ToInt16(DDLLIST.Status.accepted)'")" type="button" class="btn btn-success" value="Accept" />'

                     },
                     "orderable": true,
                     "searchable": true,


                 }
            ]
        });

    }
</script>
