@model MyAdmin.Models.Subject_CombinationView

@{
    ViewBag.Title = "SubComb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("SubComb", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="">
       <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x=>x.Combination_ID)
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.StreamID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.StreamID, new SelectList(ViewBag.streamdroplist as List<myAdmin.DB.Stream_Master>, "Stream_ID", "StreamName"), "Select Stream", new { @Class = "form-control font-weight-bold" })
                        @Html.ValidationMessageFor(model => model.StreamID, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstChoice, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.FirstChoice, new SelectList(ViewBag.droplist as List<myAdmin.DB.Subject_Master>, "Subject_ID", "SubjectName"), "Select First Subject", new { @Class = "form-control font-weight-bold" })
                        @Html.ValidationMessageFor(model => model.FirstChoice, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.SecondChoice, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="select2-purple col-md-12">

                        @*@Html.DropDownListFor(model=>model.SecondChoice, "SubjectComb", (MultiSelectList)ViewBag.droplist, new { multiple = "multiple" })*@
                        @Html.DropDownListFor(model => model.SecondChoice, new SelectList(ViewBag.scndsbjct as List<myAdmin.DB.Subject_Master>, "Subject_ID", "SubjectName"), "Select Second Subject", new { multiple = "multiple", @Class = "js-example-basic-multiple form-control font-weight-bold" })
                        @Html.ValidationMessageFor(model => model.SecondChoice, "", new { @class = "text-danger" })


                        @*@Html.DropDownListFor(model => model.SecondChoice, new SelectList(ViewBag.droplist,  "Value", "Text"), new { multiple = "multiple" })*@
                    </div>
                </div>
            </div>
        </div>
        
        

        

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    &nbsp;&nbsp;  @Html.ActionLink("View List", "ViewSubjectCombination")
</div>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<script>
    var scndoption;
    $(document).ready(function () {
        //alert(1);
        $('.js-example-basic-multiple').select2();
        var scndoption=@Html.Raw(Json.Encode(ViewBag.scndsbjct))
            console.log(scndoption)
    
    $('#FirstChoice').change(function () {
        //alert(this.value);
       // console.log(scndoption)
        $("#SecondChoice option").remove();

        for(var i=0;i<scndoption.length;i++){
            //console.log(scndoption[i])
            var option = '<option value="' + scndoption[i].Subject_ID + '">' + scndoption[i].SubjectName + '</option>';
            $("#SecondChoice").append(option);
        }

        $("#SecondChoice option[value='" + this.value + "']").remove();
    })
    })
   //$("#selectBox option[value='option1']").remove();
</script>